<main>
    <div class="newsLatter">
        <p>HOW DO I GET STARTED?</p>
        <button>REQUEST TO BE A MEMBER <i class="fa-solid fa-arrow-right"></i></button>
    </div>
    <nav>
        <div class="links">
            <p>MEMBERSHIP PLANS</p>
            <p>SUPPORT & FAQ</p>
        </div>
        <div class="join">
            <p>JOIN NOW <i class="fas fa-arrow-right"></i> </p>
        </div>
    </nav>
    <hr>
    <p class="logo" >WE GO WIFI</p>
    <p class="text" >With combined experience in the wireless industry of 48 years, our mission is to deliver wireless internet and exciting new products to RVers, rural areas, travelers, truckers and enthusiast across the United States at the best prices possible.</p>
</main>